/* __________TRANSITION-STAGE__________ */
@media screen and (min-width: 500px) {
  .hero {
    margin: 6rem 3rem 4rem 3rem;
  }
  .mood {
    margin: 1rem 3rem 4rem 3rem;
  }
}
/* __________TABLET__________ */
@media screen and (min-width: 700px) {

  /* Hero Offer */
  .hero-offer-heading {
    font-size: 2.5rem;
  }
  .email-signup {
    max-width: 100%;
  }
  .email-signup-prompt {
    font-size: 1.5rem;
  }
  /*  NEW RELEASES  */
  .first-h3 {
    margin-left: 3rem;
    margin-top: 1.5rem;
  }
  .new-releases {
    margin: 3rem 3rem 3rem 3rem;
  }
  .new-releases-text {
    margin-top: 6rem;
  }

  /*  EXPLORE  */
  .explore h2 {
    font-size: 1.5rem;
    margin-left: 3rem;
  }

  /* FOOTER */
  footer {
    padding: 3rem;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-box {
    text-align: left;
  }
  .logo-footer {
    margin-top: 8rem;
    text-align: left;
  }
}

/* __________ DESKTOP __________ */
@media screen and (min-width: 900px) {
  li:active .nav-item-search path {
    stroke: var(--primary);
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
  }
  .heading-1 {
    font-size: 4rem;
  }
  .new-collection h2 {
    font-size: 1.5rem;
  }
  .new-collection,
  .hero-offer {
    width: 50%;
    padding: 4rem;  
  }

  .hero-offer-heading {
    line-height: 2.5rem;
  }
  .email-signup {
    max-width: 100%;
  }
  .check-box-text {
    font-size: 0.8rem;
  }

  /*  NEW RELEASES  */
  /* .explore {
    position: relative;
  } */

  h3 {
    font-size: 6rem;
  }
  .first-h3 {
    position: relative;
    top: -5rem;
  }
  .new-releases {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-content: end;
    grid-gap: 1.5rem;
  }
  .new-releases-text {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .new-releases-text h2 {
    margin-top: 0;
  }
  .image-text {
    margin: 1rem;
  }

  /* PRODUCT-IMAGES */
  .kaftan {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
  }
  .jewelry {
    grid-column: 4 / 7;
    grid-row: 1 / 4;
  }
  .slippers {
    grid-column: 4 / 7;
    grid-row: 3 / 7;
  }
  /* MOOD */
  .second-h3 {
    width: 70%;
  }
  .mood {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    margin-top: 1rem;
    /* padding: 3rem; */
  }
  .mood-heading-and-signup {
    margin-top: 4rem;
    margin-right: 4rem;
  }
  .packaging-image {
    order: 1;
    margin-bottom: 0;
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
    order: 1;
  }
  .logo-footer {
    flex-grow: 1;
    margin: 0;
  }
  .logo-footer img{
    width: 15rem;
    height:auto;
  }
}
