:root {
  --primary: #eca461;
  --bg: #ffe6cf;
  --input: #fdf4ec;
}

header {
  background-color: var(--bg);
}

ul.nav-menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 2rem;
  border-bottom: 0.1rem solid black;
}

/* .nav-item-languages .nav-item-search .nav-item-lines {
  flex: 1; 
  padding-left: 1rem;
} */

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

/* THIS PART IS FETCH FROM https://www.youtube.com/watch?v=flItyHiDm7E AND MODIFIED BY VALI */

/* List with all menu-items */
.hamburger-menu {
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1rem;
  position: fixed;
  left: -100%;
  background-color: var(--bg);
  /* width: 100%; */
  transition: 0.7s ease;
  width: 100vw;
  height: 100vh;
}

/* Wraps all menu-items */
.hamburger-menu-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s ease;
  margin: 2rem;
}
ul.hamburger-items {
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 0;
}
.hamburger-link {
  display: flex;
  transition: 0.7s ease;
  padding-top: 1rem;
}
.hamburger-link:hover {
  color: var(--primary);
}

/* Login and Account-buttons*/
.hamburger-buttons {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.hamburger-button {
  margin-bottom: 2rem;
  width: 13rem;
  height: 2rem;
  cursor: pointer;
}
.hamburger-button {
  transition: 0.7s ease;
}
.hamburger-button:hover {
  color: var(--primary);
}

/* Search-bar */
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  will-change: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* padding-left: 2.4rem; */
}
.nav-item-search {
  cursor: pointer;
  float: left;
  transition: translateX(20px);
}
.nav-item-search.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
.search-bar {
  visibility: hidden;
  width: 0;
  height: 0;
}
.search-bar.active {
  visibility: visible;
  /* float: right; */
  height: auto;
  width: auto;
  padding-right: 1rem;
}
input[type="text"].search-text {
  background-color: var(--input);
  border: solid black 0.1px;
  width: 100%;
  height: 2rem;
  font-family: "Neue-Haas-Grotesk", sans-serif;
}

/* Opens hamburger-menu */
.hamburger-lines {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  padding-left: 1rem;
}
.bar {
  display: block;
  width: 1.5rem;
  height: 0.1rem;
  margin: 0.3rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.hamburger-lines.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-lines.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger-lines.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.hamburger-menu.active {
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
.exit-button {
  visibility: hidden;
  width: 0;
  height: 0;
}
.exit-button.active {
  visibility: visible;
  width: auto;
  height: auto;
  cursor: pointer;
}
