:root {
  --primary: #eca461;
  --bg: #ffe6cf;
  --input: #fdf4ec;
}

header {
  background-color: var(--bg);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 2rem;
  border-bottom: 0.1rem solid black;
}

.nav-item-languages .nav-item-search .nav-item-lines {
  /* flex: 1; */
  padding-left: 1rem;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
}
/* THIS PART IS FETCH FROM https://www.youtube.com/watch?v=flItyHiDm7E AND MODIFIED BY VALI */

.hamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 3.5rem;
  gap: 4rem;
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1rem;
}
.hamburger-container {
  width: 100%;
  height: 100%;
  background-color: black;
}
.hamburger-link {
  transition: 0.7s ease;
}
.hamburger-link:hover {
  color: var(--primary);
}

.hamburger-link {
  display: flex;
  flex-direction: row;
}
.hamburger-lines {
  display: block;
  cursor: pointer;
  padding-left: 1rem;
}
.hamburger-button {
  width: 18rem;
}
.arrow {
  margin: 0rem;
  padding-left: 6rem;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.1rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger-lines.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-lines.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-lines.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}
.hamburger-menu {
  position: fixed;
  left: -100%;
  top: 4rem;
  gap: 0;
  flex-direction: column;
  background-color: var(--bg);
  width: 100%;
  text-align: center;
  transition: 0.4s ease;
}
.hamburger-item {
  margin: 1rem 0;
}
.hamburger-menu.active {
  /* top: 0; */
  left: 0;
}

/* search-bar */
.nav-item-search {
  cursor: pointer;
}

.nav-item-search.hidden {
  visibility: hidden;
}
/* li:active .nav-item-search path {
  stroke: var(--primary);
} */

/* .search {
  display: flex;
  flex-direction: row;
} */

.search-bar {
  visibility: hidden;
  width: 0;
  height: 0;
}
.search-bar.active {
  visibility: visible;
  float: left;
  height: auto;
  width: auto;
  /* transform: translateX(-10px); */
}

input[type="text"].search-text {
  background-color: var(--input);
  border: solid black 0.1px;
  width: 100%;
  height: 2rem;
  font-family: "Neue-Haas-Grotesk", sans-serif;
}

.exit-button {
  visibility: hidden;
  width: 0;
  height: 0;
}
.exit-button.active {
  visibility: visible;
  width: auto;
  height: auto;
}
