* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* align-items: center; */
  background-color: var(--main-color);
}

/* NAVIGATION  */
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 2rem;
  border-bottom: 0.1rem solid black;
}

.nav-item {
  /* flex: 1; */
  padding-left: 1rem;
}

ul {
  list-style-type: none;
}

.logo-nav img {
  width: 8rem;
  height: auto;
}
.logo-footer img {
  width: 8rem;
  height: auto;
}

/* HERO CONTENT */

.hero-container {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  flex-direction: column;
  background-image: url("images/Rectangle_9.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 6rem 1rem 4rem 1rem;
  padding: 5rem 3rem 3rem 3rem;
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: fill;
  /* z-index: 1; */
}

.hero-offer-heading {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 450;
}

.text-field {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 1rem;
}

.check-box-text {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 0.7rem;
}

button {
  font-family: "Neue Haas Grotesk", sans-serif;
}

h1 {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 3rem;
  font-weight: 450;
}

.new-collection h2 {
  font-family: "Arsenica light", serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.new-collection {
  display: flex;
  flex-direction: column;
}

.new-collection h2 {
  margin: 0;
  padding-bottom: 0;
}

.hero-offer {
  display: flex;
  flex-direction: column;
}

.checkbox-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;

  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: solid black 2px;
}
.text-field {
  width: 100%;
  height: 3rem;
}

button {
  display: block;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: white;
}

.explore h2 {
  margin: 0rem 2rem 1rem 2rem;
}
.collection img {
  width: 100%;
  height: auto;
}

/* NEW RELEASES */
.new-releases {
  height: 100%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1;
  margin: 2rem;
}

/* PRODUCTS */

.kaftan img {
  width: 100%;
  height: auto;
}

.jewelry img {
  width: 100%;
  height: auto;
}

.slippers img {
  width: 100%;
  height: auto;
}

/* MOOD */
.mood-container {
  display: flex;
  justify-content: center;
}

.mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 2rem 4rem 2rem;
  padding: 3rem;
  background-image: url("/images/Rectangle_9.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}

.packaging {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}

.packaging img {
  width: 50%;
  height: 50%;
}

footer {
  width: 100%;
  background-color: bisque;
  margin-top: 10rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
