:root {
  --primary: #eca461;
  --bg: #ffe6cf;
  --input: #fdf4ec;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* align-items: center; */
  background-color: var(--bg);
}

/* _____________ NAVIGATION _____________ */
/* SE ÄVEN MENU.CSS */

.logo-nav img {
  width: 8rem;
  height: auto;
  padding: 0;
}
.logo-footer img {
  width: 8rem;
  height: auto;
}

/* _____________ HERO CONTENT _____________ */

.hero-container {
  display: flex;
  justify-content: center;
}
.hero {
  display: flex;
  flex-direction: column;
  background-image: url("images/hero_img.jpg");
  background-size: 100% 100%;
  margin: 1rem 1rem 4rem 1rem;
  padding: 5rem 2rem 3rem 2rem;
  width: 100%;
  height: auto;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 10px 3px #88888829;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

h1 {
  margin-top: 0.5rem;
}

.heading-1 {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-family: "Arsenica-light", serif;
  font-size: 2.5rem;
  font-weight: 450;
}

.new-collection h2 {
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: 0;
}

.new-collection {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* ___ Hero Offer ___ */
.hero-offer {
  display: flex;
  flex-direction: column;
}

.hero-offer-heading {
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 0.5rem;
}

.heading-wrapper {
  margin-bottom: 2rem;
}

.email-signup-prompt {
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1rem;
}

.text-field {
  background-color: var(--input);
  width: 100%;
  height: 3rem;
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1rem;
  border: 0.1rem solid black;
}

/* The checkbox-container */
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-wrapper input{
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark{
  background-color: var(--input);
  cursor: pointer;
  margin-right: 0.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border: 0.01rem solid black;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-wrapper .checkmark:after {
  width: 0.4rem;
  height: 0.8rem;
  margin-left: 0.4rem;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-box-text {
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 0.8rem;
}

button {
  border-style: none;
  font-family: "Neue-Haas-Grotesk", sans-serif;
  letter-spacing: 0.1rem;
  display: block;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: white;
  margin-bottom: 2rem;
}

/* _____________ EXPLORE _____________ */

.explore h2 {
  font-family: "Neue-Haas-Grotesk", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: 0rem 2rem 1rem 2rem;
}
.collection img {
  width: 100%;
  height: auto;
}

/* _____________ NEW RELEASES _____________ */

h3 {
  font-family: "Arsenica-light", serif;
  font-size: 3.5rem;
  font-weight: 100;
  margin: 0;
}

.first-h3 {
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.new-releases {
  height: 100%;
  display: grid;
  grid-template-columns: 1;
  margin: 10rem 1rem 3rem 1rem;
}

.new-releases-text  {
  font-family: "Neue-Haas-Grotesk-", sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  max-width: 40rem;
  letter-spacing: 2;
  line-height: 1.6rem;
}

/* .new-releases-heading{
  font-family: "Neue-Haas-Grotesk-Medium", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  font-weight: 200;
} */

.new-releases-heading, .image-text {
  font-family: "Neue-Haas-Grotesk-medium", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
}

/* ___ PRODUCT-IMAGES ___ */
.new-releases .image-text {
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}
.kaftan img {
  width: 100%;
  height: auto;
}

.jewelry img {
  width: 100%;
  height: auto;
}

.slippers img {
  width: 100%;
  height: auto;
}
/* IMAGE ANIMATION */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* _____________ MOOD _____________ */

.second-h3 {
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
}

.mood-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 4rem 1rem;
  
}

.mood {
  display: flex;
  flex-direction: column;
  background-image: url("images/footer_img.jpg");
  background-size: 100% 100%;
  padding: 5rem 2rem 3rem 2rem;
  width: 100%;
  height: auto;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 10px 3px #88888829;
}

.mood img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mood-container .heading-1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.packaging {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}


footer {
  width: 100%;
  margin-top: 5rem;
  border-top: 0.1rem solid black;
  font-family: "Neue-Haas-Grotesk", sans-serif;
  padding: 6rem;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;

}
.footer-box {
  text-align: center;
}
h4 {
  font-family: "Neue-Haas-Grotesk-Medium";
  letter-spacing: .1rem;
}

/* .footer-box {
  margin-bottom: 6rem;
} */

.logo-footer {
  margin-top: 8rem;
  text-align: center;
}

.logo-footer img{
  width: 10rem;
  height:auto;
}